html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.poll {
    height: 100%;
    width: 100%;
}

.candidate div {
    display: inline;
}

.winner {
    background-color: blue;
}