html, body {
    height: 100%;
    width:100%;
    overflow:hidden;
}
#school_logo {
	position:relative;
	margin-top:10px;
	margin-left:5px;
	z-index:2;
	color:#FFF;
	width:500px;
	transition-duration:0.4s;
}
#logo_pic {
	float:left;
}
#left {
	height:100%;
	width:200px;
	position:absolute;
	top:0;
	left:-200px;
	z-index:4;
	background-color:#000;
	opacity:0.3;
	transition-duration:0.3s;
}
#left_hover {
	height:100%;
	width:50px;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
}
#right {
	height:100%;
	width:200px;
	position:absolute;
	top:0;
	right:-200px;
	z-index:4;
	background-color:#000;
	opacity:0.3;
	transition-duration:0.3s;
}
#right_hover {
	height:100%;
	width:50px;
	position:absolute;
	top:0;
	right:0;
	z-index:3;
}
#left_button {
	color:#FFF;
	opacity:1;
	font-size:120px;
	 background:none;
  border:none;
  font-weight:900;
  outline:none;
  position:absolute;
  top:0;
  left:40px;
  bottom:0;
}
#left_button:active, #right_button:active {
	border:none;
	outline:none;
}
.candidates {
	margin-top:20px;
	width:100%;
}

.candidate {
	float:left;
	border-style:solid;
	border-width:2px;
	border-radius:10px;
	border-color:#FFF;
}
#right_button {
	color:#FFF;
	opacity:1;
	font-size:120px;
	font-weight:900;
	 background:none;
  border:none;
  outline:none;
  position:absolute;
  top:0;
  left:40px;
  bottom:0;
}
.head_cont {
	width:70%;
}
.slide {
	transition-duration:0.5s;
}
.full-size, .slide{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
}

.text-center {
	text-align:center;
}

.title_h1 {
	font-size:70px;
	font-family: 'Oswald', sans-serif;
}

.title_h2 {
	font-size:40px;
	font-family: 'Oswald', sans-serif;
}

#left_hover:hover+#left,#left:hover {
	left:0;
	cursor:pointer;
}

#right_hover:hover+#right,#right:hover {
	right:0;
	cursor:pointer;
}
.title_top {
	margin-top:10px;
	width:100%;
}