<!DOCTYPE html>
<html>

<head>
	<title>Instructions for Transferring</title>
</head>

<body>
	<h1>Download Complete</h1>
	<hr />
	<p>A Data file has been downloaded to your computer. Please folow the following instructions to proceed with the voting process:</p>
	<ol>
		<li>Transfer the download file (candidates.json) to a pen drive</li>
		<li>Insert the pen Drive in the machine holding the results</li>
		<li>Move the json file to datafiles/ inside the app installation directory </li>
	</ol>
</body>

</html>