<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NPS-I Elections</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
    	<!-- Navigation bar on top of page -->
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/candidates">Candidates</a></li>
            <li role="presentation"><a href="/elections">Elections</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">NPS Indiranagar Elections</h3>
      </div>

<!-- Structures for office divs inside panels -->
<div class="panel panel-default">
  <div class="panel-heading">Prefect</div>
  <div class="panel-body">
  <div id="Prefect"></div>
  <button class = "btn btn-info" onClick = "myFunction(null,'Prefect', '/candidateimages/default.gif',true)">Add Candidate</button>
  </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">Boy Vice Prefect</div>
	<div class="panel-body">
		<div id="VicePrefectM"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'VicePrefectM', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
<div class="panel panel-default">
	<div class="panel-heading">Girl Vice Prefect</div>
	<div class="panel-body">
		<div id="VicePrefectF"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'VicePrefectF', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Challengers Captain</div>
	<div class="panel-body">
		<div id="ChallengersC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'ChallengersC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Challengers Vice Captain</div>
	<div class="panel-body">
		<div id="ChallengersVC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'ChallengersVC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Explorers Captain</div>
	<div class="panel-body">
		<div id="ExplorersC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'ExplorersC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Explorers Vice Captain</div>
	<div class="panel-body">
		<div id="ExplorersVC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'ExplorersVC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Pioneers Captain</div>
	<div class="panel-body">
		<div id="PioneersC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'PioneersC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Pioneers Vice Captain</div>
	<div class="panel-body">
		<div id="PioneersVC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'PioneersVC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Voyagers Captain</div>
	<div class="panel-body">
		<div id="VoyagersC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'VoyagersC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Voyagers Vice Captain</div>
	<div class="panel-body">
		<div id="VoyagersVC"></div>
		<button class = "btn btn-info" onClick = "myFunction(null,'VoyagersVC', '/candidateimages/default.gif',true)">Add Candidate</button>
	</div>
	</div>
	
</div> <!-- /container -->

	<script type="text/javascript">
			var candidates = {"Prefect":[],"VicePrefectM":[],"VicePrefectF":[],"ChallengersC":[],"ChallengersVC":[],"ExplorersC":[],"ExplorersVC":[],"PioneersC":[],"PioneersVC":[],"VoyagersC":[],"VoyagersVC":[]};
	prefect_nos = 0;
	var para ;
	var node ;
	var element ;
	var candidates2;
	
// Function to remove candidates.
	function removeCandidate(object2,office) {
		// object2: Button which called function, office: Concerned office to delete candidate from.
		para2 = document.getElementById(office) // Office Div
		child = object2.parentElement
		candidates[office].splice(findRow3(child)-1, 1); // Deleting candidate from candidate dictionary
		para2.removeChild(child) ; // Deleting candidate from DOM (UI-front end).
		
		sendstructure(); // Updating Server with new structure.
	}
// Function to find the index position of child as related to a specific parent.
	function findRow3(node)
{
    var i = 1;
    while (node = node.previousSibling) {
        if (node.nodeType === 1) { ++i }
    }
    return i;
}
// // Function to edit Candidate Name. (To be completed)
// 	function editName() {
// 		var person = prompt("Edit the candidate's name:");
// 		if (person !== null) {
			
// 		}
// 	}
// Function to add new candidate.
	function myFunction(name,office,image,updates) {
				if (name == null) {
   			var person = prompt("Please enter the candidate's name");
				} else {person = name;}
    		if (person != "" && person != null) {
    			// Adding candidate to candidate dictionary.
    				candidates[office].push({"name":person,"image":image});
					// Creating Candidate Paragraph.
    			para = document.createElement("p") ;
    			node = document.createTextNode(person+"\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0\u00A0")
    			
    			cand_image = document.createElement("img");
    			cand_image.className = "candimage"
    			cand_image.style.width = "135px";
    			cand_image.style.height = "135px";
    			if (image === undefined)
    			{
    				cand_image.style.display = "none";
    				
    			} else {
    				cand_image.src = image;
    				cand_image.style.display = "inline-block";
    			}
    			
    			para.appendChild(cand_image);
    			para.appendChild(node);
    		
    		//Creating Delete button for candidate
				delbut = document.createElement("button") ;
				nodebut = document.createTextNode("Delete Candidate");
				delbut.className = "btn btn-danger";
				delbut.appendChild(nodebut) ;
				
				// Creating Upload image button
				upimage_span = document.createElement("span");
				upimage_span.className = "btn btn-default btn-file";
				
				upimage = document.createElement("input");
				upimage.type = "file";
				
				upimage_text = document.createTextNode("Upload Image");
				
				upimage_span.appendChild(upimage)
				upimage_span.appendChild(upimage_text)
				
				// Appending buttons to the candidate para.
				para.appendChild(upimage_span);
				para.appendChild(delbut) ;
					
					// Finally, appending paragraph to the office Div element.
    			var element = document.getElementById(office) ;
    			element.appendChild(para) ;
					
					// Adding necessary event listeners. Note the "this" keyword argument.
    			delbut.addEventListener('click', function() {removeCandidate(this,office);}, false) ;
    			upimage.addEventListener('change', function() {uploadImage(this,office)}, false)
    			// Updating server with new structure.
				if (updates) {
    			sendstructure();
				}
    } else {alert("Candidate Name cannot be Empty!!")}
}
//---------------------------------------------------------------------------
function uploadImage(object,office) {
	var fd,xhr,image;
	candParent = object.parentElement.parentElement;
	cand_image = object.parentElement.previousSibling.previousSibling;
	xhr = new XMLHttpRequest(),
  fd = new FormData();
	image = object.files[0]
fd.append( 'file', image );
xhr.open( 'POST', '/uploadimage', true );
xhr.onreadystatechange = function() {
	if (xhr.readyState == 4 && xhr.status == 200) {
		imagePath = xhr.responseText;
		console.log("Request Succesfull:")
		console.log(imagePath);
		candidates[office][findRow3(candParent)-1]["image"] = imagePath;
		console.log(candidates[office]);
		cand_image.src = imagePath;
		sendstructure();
	}
};
xhr.send( fd );
}
//-----------------------------------------------------------------------------
// Function to update server with candidate dictionary.
function sendstructure() {
xhr = new XMLHttpRequest();
var url = "/updateserver";
xhr.open("POST", url, true);
xhr.setRequestHeader("Content-type", "application/json");
var data = JSON.stringify(candidates);
xhr.send(data);
}
// --------------------------------------------------------------------
// Function to get previous structure of candidates dictionary when page is first loaded.
window.onload = function() {
xhr = new XMLHttpRequest();
var url = "/getcandidates";
xhr.onreadystatechange = function() {
  if (xhr.readyState == 4 && xhr.status == 200) {
    candidates2 = JSON.parse(xhr.responseText);
    displayCandidates();
  }
};
xhr.open("GET", url, true);
xhr.send();
}
//-----------------------------------------------------------------------------
// Function to render previous candidates dictionary in previous function.
function displayCandidates() {
	for (key in candidates2) {
		for (name in candidates2[key]) {
			if (candidates2[key][name].image === undefined) {
			myFunction(candidates2[key][name].name,key,"/candidateimages/default.gif",false);
		} else {myFunction(candidates2[key][name].name,key,candidates2[key][name].image,false);}
	}
}
sendstructure();
}


	</script>
  </body>
</html>