<!DOCTYPE html>
<html>

<head>
	<title>Edison - Customize Elections</title>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Choose Candidates">
	<meta name="author" content="Rachit Verma, Rishit Bansal, Muktaka Joshipura">

	<link rel="stylesheet" href="/static/css/candidates.min.css">

	<script src="/static/js/candidates.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="header clearfix">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">
						<a href="/customize">Candidates</a>
					</li>
					<li>
						<a href="/elections">Elections</a>
					</li>
				</ul>
			</nav>
			<h3 class="text-muted">Edison - Customize Elections</h3>
		</div>

		<div id="container"></div>

		<script>
			var interface = new Interface('container');
		</script>
	</div>
</body>

</html>