<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edison</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="sidebar">
	</div>
	<div class="header">
		<div onclick="togglesidebar();" class="side-icon">
			<div class="strip"></div>
			<div class="strip"></div>
			<div class="strip"></div>
		</div>
		<div onclick="hidesidebar();" class="everythingelse">
		<div id="brand">
			Edison
		</div>
		</div>
	</div>
	<div onclick="hidesidebar();" class="everythingelse">
	</div>
	<script src="/static/js/script.js"></script>
</body>
</html>