<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/pollStyle.css">
<!--    <link rel="stylesheet" href="../css/bootstrap.min.css">-->
<!--     <script lang="text/javascript" src="jquery-1.12.2.min.js"></script> -->
    <script lang="text/javascript" src="/static/js/poll.js"></script>
<!--    <script lang="text/javascript" src="bootstrap.min.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="body">
    <script>
        var electionId = "blah",
        theInterface = new InterfaceCreator("body");
    </script>
</body>

</html>